@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500&family=Poppins:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400;500;600;700&display=swap');

html {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 95%);
}

.panel {
    max-width: 860px;
    width: 100%;
    display: flex;
    margin-top: auto;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

.car-img {
    width: 65px;
    height: 40px;
    margin-left: 50px;
}

h2 {
    font-family: Big Shoulders Display, sans-serif;
    font-size: 42px;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    text-transform: uppercase;
    margin-left: 50px;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: Lexend Deca, sans-serif;
    font-size: 0.8em;
    font-weight: 300;
    line-height: 1.8;
    margin: 0 50px 0px 50px;
}

.btn_box {
    padding-bottom: 50px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.plan-btn {
    text-decoration: none;
    width: fit-content;
    padding: 15px 30px;
    background-color: hsl(0, 0%, 95%);
    font-family: Lexend Deca, sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    margin: 90px 0 0 50px;
    border-radius: 30px;
    mix-blend-mode: screen;
    color: #000;
    transition: 0.3s ease-in-out 0.3s;
}

.plan-btn:hover {
    transition: all ease-in 0.3s;
    background-color: rgb(201, 201, 201);
    mix-blend-mode: screen;
    color: rgb(255, 255, 255);
}

.car_choice1 {
    background-color: hsl(31, 77%, 52%);
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.car_choice2 {
    background-color: hsl(184, 100%, 22%);
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.car_choice3 {
    background-color: hsl(179, 100%, 13%);
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.attribution {
    margin-top: auto;
    font-size: 11px;
    padding: 0;
}

.attribution a {
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: hsl(228, 45%, 44%);
}

@media (min-width: 820px) {
    .panel {
        flex-direction: row;
    }
}